.profile{
margin: 0 auto;
    background-color: #D3D3D3;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    padding-top: 20px;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 1px -2px,
            rgb(0 0 0 /14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}

.description{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 20px;
   line-height:1.14;
   letter-spacing: 0.07rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.avatar{
    width: 200px;
    border-radius: 50%;
    background-color: #fff;
}
.name{
   font-weight: 700;
   font-size: 22px;
}
.tag{
    color:white;
  font-weight: 600;
}
.location{
    font-weight: 600;
    color: #fff;
}

.stats{
    list-style: none;
    background-color: whitesmoke;
    text-align: center;
    padding: 30px;
    letter-spacing: 0.05rem;
    display: flex;
    margin-top: 17px;
}
.statsItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc(100% / 3);
    padding: 5px;
    border-bottom: none;
}
.label{
    font-size: 20px;
    margin-bottom: 8px;
}
.quantity{
    font-size: 18px;
    font-weight: 700;
}